alembic
Babel
blinker
certifi
chardet
click
dominate
elasticsearch
Flask
Flask-Babel
Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
guess_language-spirit
idna
itsdangerous
Jinja2
Mako
MarkupSafe
PyJWT
python-dateutil
python-dotenv
python-editor
pytz
requests
six
SQLAlchemy
urllib3
visitor
Werkzeug
WTForms



#---------------------------- with version --------------
alembic==0.9.6
Babel==2.5.1
blinker==1.4
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
dominate==2.3.1
elasticsearch==7.5.1
Flask==1.0.2
Flask-Babel==0.11.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Moment==0.5.2
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
guess_language-spirit==0.5.3
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
PyJWT==1.5.3
python-dateutil==2.6.1
python-dotenv==0.7.1
python-editor==1.0.3
pytz==2017.2
requests==2.18.4
six==1.11.0
SQLAlchemy==1.1.14
urllib3==1.22
visitor==0.1.3
Werkzeug==0.14.1
WTForms==2.1

# numpy==1.14.3
# scipy==1.3.1
# pandas==1.0.5

numpy

# requirements for Heroku
#psycopg2==2.7.3.1
#gunicorn==19.7.1

numpy==1.14.3
scipy==1.0.1
seaborn==0.8.1
matplotlib==2.2.2

pandas==0.23.0rc2

scikit-learn==0.19.1
pillow==5.1.1



numpy==1.14.3  1.19.1
pandas==1.0.5  1.1.2
scipy==1.3.1  1.5.2
matplotlib==3.3.1

wheel==0.35.1
biopython==1.77
pandas-datareader==0.9.0

collections-extended==1.0.3
pickle5==0.0.11

seaborn==0.10.1
plotly==4.9.0
markdown2==2.3.9

dash==1.16.0
dash-renderer==1.8.0

# sudo apt-get install python3-venv
# source activate py_env36
# python -m venv venv
# or
# source go.sh
# source venv/bin/activate
# pip install --upgrade pip
# pip install -r requirements.txt

# requirements for Heroku
#psycopg2==2.7.3.1
#gunicorn==19.7.1
