
/* Split the screen  */
.split {
  height: 92%;
  position: fixed;
  z-index: 1;
  top: 8%;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  width: 20%;
  left: 0;
  background-color: powderblue;
}

/* Control the right side */
.right {
  width: 80%;
  right: 0;
  background-color: white;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
