{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <div class="split left">
    <div class="left">

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href={{ url_for('main.virus') }}>SARS-CoV-2</a>
        </li>mutation_map
        <li class="nav-item">
          <a class="nav-link active" href={{ url_for('main.mutation_map') }}>SARS-CoV-2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ url_for('main.lab_results') }}>Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={{ url_for('main.virus') }}>Server-admin</a>
        </li>
      </ul>

    </div>
  </div>

  <div class="split right">
    <div class="">

    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}

    </div>
  </div>
{% endblock %}
