<style>
h1 {
    margin: 1em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    text-transform: uppercase;
}
a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0d8ba1;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #1a5952;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
p {
    font: "Libre Baskerville", sans-serif;
    text-align: justify;
    text-justify: inter-word;
    width: 80%;
    max-width: 800;
}

</style>


<h2>Select SARS-CoV-2 sequences per date, protein, and contry</h2>

<p>
Select protein/nps, 3 countries, and limit inferior and superior data
</p>
<p>
See also:<br>
<a href="https://www.gisaid.org/">Gisaid</a>
<a href="https://www.ncbi.nlm.nih.gov/datasets/coronavirus/proteins/">Coronavirus proteins – NCBI Datasets</a>
<a href="https://www.discngine.com/blog/2020/3/27/sars-cov-2-2-from-the-viral-genome-towards-protein-structures">NSP structures</a>
</p>

<br />
